html, body {
  background-color: #eee;
}

body {
  padding-top: 40px;
}

.container > footer p {
  text-align: center;
}

.container {
  width: 820px;
}

.content {
  background-color: white;
  padding: 20px;
  margin: 0 -20px;
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.event {

  padding: 5px;
  margin-bottom: 0px;

/*  border: 1px solid #000;
  -webkit-border-radius: 6px 6px 6px 6px;
     -moz-border-radius: 6px 6px 6px 6px;
          border-radius: 6px 6px 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);   */
}

.event p {
  margin-bottom: 0px;
}

.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

.page-header .label {
  font-size: 20px;
  float: right;
  padding: 12px;
  border: 1px solid #999;
}

.content .span10,
.content .span4 {
  min-height: 500px;
}

.content .span4 {
  margin-left: 0;
  padding-left: 19px;
  border-left: 1px solid #eee;
}

.topbar .btn {
  border: 0;
}

.topbar-inner, .topbar .fill {
  background: #0A67A3;
}

.topbar a {
  color: #65A6D1;
}

.topbar div > ul .active > a, .nav .active > a {
  background-color: rgba(0, 0, 0, 0.3);
}

.topbar input {
  border: 0px solid #65A6D1;
}

.label.all_ok {
  background-color: #46A546;
}

.label.major_issue {
  background-color: #C43C35;
}

.label.minor_issue {
  background-color: #F89406;
}

.update {
  margin-left: 16px;
  background: #DEF;
  padding: 10px;
  margin-right: 160px;
  margin-bottom: 1px;
}

.updates h6 {
  margin-left: 16px;
}

.update p {
  margin-bottom: 0px;
}