<div class="topbar">
  <div class="fill">
    <div class="container">
      <a class="brand" href="/"><img src="/images/melbourne.png">Melbourne</a>
      <ul class="nav">
        <li><a href="/">Home</a></li>
        <li><a href="http://www.melbourne.co.uk">Website</a></li>
        <li><a href="http://www.twitter.com/#!/MelbourneHost">Twitter</a></li>
        <li><a href="http://support.melbourne.co.uk">Support</a></li>
      </ul>
      <%= form_tag(session_path, {:class => "pull-right", :id => 'login-form'}) do %>
        <%= text_field_tag :username, '', :class => "input-small", :placeholder => "Username" %>
        <%= password_field_tag :password,'', :class => "input-small", :placeholder => "Password" %>
        <%= submit_tag "Sign In", :class => "btn info" %>
      <% end %>
    </div>
  </div>
</div>