<div class="page-header">
  <%= render partial: 'shared/status' %>
  <h1>Server Status<br>
  <small>Active issues or planned maintenance will be announced here.</small></h1>
</div>
<div class="row">
  <div class="span10">
    <h2>Current Issues</h2>
    <% if @active_events.count > 0 %>
      <% @active_events.each do |event| %>
        <%= render partial: 'event', locals: {event: event} %>
      <% end %>
    <% else %>
      <h1><small>There are no current issues</small></h1>
    <% end %>
    <hr>
    <h2>Scheduled Maintenance</h2>
    <% if @scheduled_events.count > 0 %>
      <% @scheduled_events.each do |event| %>
        <%= render partial: 'event', locals: {event: event} %>
      <% end %>
    <% else %>
      <h1><small>There are no scheduled maintenance tasks</small></h1>
    <% end %>
  </div>
  <div class="span4">
    <h2>Resolved Issues</h2>
    <% if @resolved_events.count > 0 %>
      <% @resolved_events.each do |event| %>
        <%= render partial: 'event', locals: {event: event} %>
      <% end %>
    <% else %>
      <p><small>There are no resolved issues</small></p>
    <% end %>
  </div>
</div>