<div class="span10">
  <h2>Current Issues</h2>
  <% if @active_events.count > 0 %>
    <% @active_events.each do |event| %>
      <%= render partial: 'event', locals: {event: event} %>
    <% end %>
  <% else %>
    <h1><small>There are no current issues</small></h1>
  <% end %>
  <h2>Scheduled Maintenance</h2>
  <% if @scheduled_events.count > 0 %>
    <% @scheduled_events.each do |event| %>
      <%= render partial: 'event', locals: {event: event} %>
    <% end %>
  <% else %>
    <h1><small>There are no scheduled maintenance tasks</small></h1>
  <% end %>
</div>
<div class="span4">
  <h3>Resolved Issues</h3>
  <% if @resolved_events.count > 0 %>
    <% @resolved_events.each do |event| %>
      <%= render partial: 'event', locals: {event: event} %>
    <% end %>
  <% else %>
    <p><small>There are no resolved issues</small></p>
  <% end %>
</div>